<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome</h1>
    <a class="h2" th:href="@{/calculate}">Simple Calculation API</a>
    <a class="h2" th:href="@{/calculate}">Manage Cars API</a></div>

</body>
</html>
