#version: '2'

# compile services, then docker-compose up
services:
#  main:
#    image: main:0.0.1-SNAPSHOT
#    build: ./KompSys
#    container_name: main
#    ports:
#      - "127.0.0.1:8081:8081"
#    depends_on:
#      - db
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/compose-postgres
#      - SPRING_DATASOURCE_USERNAME=compose-postgres
#      - SPRING_DATASOURCE_PASSWORD=compose-postgres
#      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
#
#  db:
#    image: 'postgres:13.1-alpine'
#    container_name: db
#    environment:
#      - POSTGRES_USER=compose-postgres
#      - POSTGRES_PASSWORD=compose-postgres
#
#  gateway:
#    image: gateway:0.0.1-SNAPSHOT
#    build: ./Gateway
#    container_name: gateway
#    ports:
#      - "127.0.0.1:8082:8082"

#  calculator:
#    image: calculator:0.0.1-SNAPSHOT
#    build: ./Calculator
#    container_name: calculator
#    ports:
#      - "127.0.0.1:8084:8084"

  rabbitmq:
    image: rabbitmq:management
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"





#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/kompsys
#      - SPRING_DATASOURCE_USERNAME=kbe
#      - SPRING_DATASOURCE_PASSWORD=
#      - SPRING_JPA_HIBERNATE_DDL_AUTO=update